body { /*css for main body*/
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #b8bbb9, #6b6d6c, #3e3f3e);
    color: #000000;
    line-height: 1.6;
}

.outer-container { /*css for outer contaier */
    margin: 20px;
    padding-bottom: 50px; 
    min-height: 100vh;
}   

h1 { /*css for header size 1 */
    font-size: 3rem;
    font-weight: 700;
    color: #df6202;
    margin: 22px 0;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 
     4px -4px 0 black, 
    -1px 1px 0 black,
    1px 1px 0 black; 
    
}

.heading_styles {/*css for header size 2 */
    background-color: #b26b35;
    text-align: left;
    color: white;
    font-size: 2.2em;
    padding: 22px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}

.container { /* main container css with all display details*/
    max-width: 1000px;
    margin-left: 160px;
    flex-direction: column;
    overflow: hidden;
    background-color: #f4f4f4; 
    border: 5px solid #b56b32; 
    border-radius: 11px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
}

.submitButton {
    max-width: 1000px;
    padding: 25px;
    margin: 50px;   
    margin-bottom: 10px;
    margin-top: 0px;
}

button {
    color: #fff;
    background-color: #007bff;
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    float : right;
}

button:hover {
    background-color: #03448a;
}

label {
    display: block;
    font-weight: 500;
    color: #000000;
}

.formSub input, 
.formSub select {
    width:90%;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background: #889eb9; 
    color: #000000;
    font-size: 1em;
    transition: all 0.4s ease;  
}

.formSub input:focus, 
.formSub select:focus {
    outline: none;
    border: 3px solid #05e632;
    box-shadow: 1 0 10px rgba(0, 255, 13, 0.5);
}

.formSub input::placeholder {
    color: #dad7d7;
}

.acknowledgment {
    text-align: center;
    font-weight: 700;   
    color: #000000;
    font-size: 1rem;
    
}

.mandatory {
    color: red;
    vertical-align: text-bottom;
    font-size: 20px;
    -webkit-background-clip: none;
    -webkit-text-fill-color: red;
}

.feedback-area {
    padding-right: 60px ;
}

.popups {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(39, 38, 38, 0.4);  
}

.popup-content {        
    background-color: #ffffff;
    margin: 15% auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 5px solid #000000;
}

.popupclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popupclose:hover,
.popupclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.imageLayout {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50%;
 }

.main_input_box {
    width: 95%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    
  
  }

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
  }

.column {
    flex: 1;
  }

.column label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
  }

.column input {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


input, select {
    padding: 9px 10px;
    font-size: 15px;
    border: 4px solid #ccc;
    border-radius: 5px;
    background-color: #cbc7c7;
}

input:focus, select:focus {
    border-color: #00ff62;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 255, 68, 0.3);
}

.placeholder_styles {
    color: black;
}

.alphabet-only {
    color: black;
}

.checkbox-group {
    display: flex;
    gap: 12px;
    margin-top: 22px;
    color:#000000;

}

.checkbox-group input[type="checkbox"] {
    margin-right: 4px;
    padding-right: 10px;
}

.checkbox-group label {
    margin: 0 4px;
}

.radio-group {
    display: flex;
    gap: 11px;
    margin-top: 22px;
}

.radio-group input[type="radio"] {
    margin-right: 4px;
    padding-right: 10px;
}

.radio-group label {
    margin: 0 4x;
}


.feedbackarea {
    width: 100%;       
    height: 150px;    
    padding: 10px;   
    border: 1px solid #b2f1a5; 
    border-radius: 6px; 
    resize: vertical;  
    background-color: #cdcaca; 
    font-family: Arial, sans-serif; 
    font-size: 15px;   
}

.feedbackarea:hover {
    border-color: #00ff48; 
}
.feedbackarea:focus {
    border-color: #00ff11; 
    box-shadow: 0 0 5px rgba(0, 255, 55, 0.5);
}

.smallSideMenu {
    position: fixed; 
    background-color: #898e89;
    box-shadow: #000000;
    padding: 11px 17px;
    gap: 10px;
    top: 25%;
    left: 20px; 
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 
    -1px -1px 0 black, 
    4px -4px 0 black, 
   -1px 1px 0 black,
   1px 1px 0 black;  
}

h3 {
    margin: 0;
    padding-left: 20px;
}

.subMenuItem {
    background-color: #0311d5;
    color: white;
    padding: 11px 17px;
    margin-left: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.subMenuItem:hover{
    background-color: #17209b;
    box-shadow: 
    -1px -1px 0 black, 
    4px -4px 0 black, 
   -1px 1px 0 black,
   1px 1px 0 black;  
}

.bigMainColumn {
    padding-left: 100px;
}